<section class="posts-section">
  <div class="post-item">
    <h2>Post</h2>
    <p class="post-likes-comments">Comments: <%= @post.comment_counter %>, Likes: <%= @post.like_counter %></p>
    <p><%= @post.text %></p>
  </div>
  <div class="comments-area">
    <%= render "shared/comment", post: @post %>
  </div>
</section>