@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

section {
  display: flex;
  gap: 30px;
  width: 60%;
  flex-direction: column;
  margin: 30px auto;
}

.buton {
  align-self: center;
  width: 120px;
  padding: 8px 10px;
  font-size: 0.9rem;
  border: 1px solid rgb(0, 0, 0);
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

.post {
  display: flex;
  flex-direction: column;
}

.comments-area {
  padding: 10px;
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  gap: 5px;
  font-size: 0.95rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active {
  color: inherit;
}

.posts-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.post-item {
  padding: 15px;
  border: 1px solid black;
  flex-direction: column;
  display: flex;
  gap: 20px;
}

.post-likes-comments {
  text-align: end;
}

.users-list {
  display: flex;
  gap: 30px;
}

img {
  width: 120px;
  height: 120px;
}

.avatar {
  border: 1px solid black;
}

.user-details {
  width: 100%;
  justify-content: center;
  gap: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.bio-area {
  border: 1px solid black;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-details h2 {
  margin-left: 50px;
  font-size: 1.8rem;
}

.user-details p {
  text-align: end;
  margin-right: 50px;
}

.user-posts {
  flex-direction: column;
  display: flex;
  padding: 15px;
  border: 1px solid black;
  gap: 10px;
}

.like-and-comment {
  text-align: end;
}

.like-and-comment p {
  font-size: 0.9rem;
}

.user-posts h2 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.bio-area p:first-child {
  font-weight: 700;
}

.like-comment-btn {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.form-text {
  height: 90px;
}

.comment-button {
  width: 120px;
  align-self: center;
  border: 1px solid black;
  font-weight: 500;
  padding: 8px 10px;
  font-size: 0.9rem;
  cursor: pointer;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.f-items {
  text-align: start;
  width: 75%;
  font-size: 1rem;
  flex-direction: column;
}

.form-attr {
  width: 100%;
  padding: 5px;
}

.form-section {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
  top: 50%;
  width: 30%;
  text-align: center;
  border: 1px solid black;
}

.post-heading {
  display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}